In [ ]:
2+2

4

In [ ]:
# List -> []
# Tuple -> ()

a = [1, 2, 3, 4, 5]

In [ ]:
a[0] = 10
print(a)

[10, 2, 3, 4, 5]

In [ ]:
b = (1, 2, 3, 4, 5)

In [ ]:
b[0] = 10
print(b)

TypeError: 'tuple' object does not support item assignment

In [ ]:
print(a[1:3])

[2, 3]

In [ ]:
print(b[1:3])

(2, 3)

In [ ]:
# Reverse a tuple
b = (1, 2, 3, 4, 5)

print(b[::-1])

(5, 4, 3, 2, 1)

In [ ]:
print(list(range(1, 10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
t = ()  # Empty tuple
type(t)

tuple

In [ ]:
t = (1, 2, 3)
type(t)

tuple

In [ ]:
t = (1)
type(t)

int

In [ ]:
t = (1,)
type(t)

tuple

In [ ]:
t = 1,
type(t)

tuple

In [ ]:
a = [2, 4, 6, 8, 10]
b = tuple(a)

print(a)
print(b)

[2, 4, 6, 8, 10]
(2, 4, 6, 8, 10)

In [ ]:
# Packing & Unpacking

x, y, z = (1, 2, 3)

In [ ]:
print(x, y, z)

1 2 3

In [ ]:
t = (10, 20, 30)
x, y, z = t

print(x, y, z)

10 20 30

In [ ]:
type(x)

int

In [ ]:
x, y = (1, 2, 3)

ValueError: too many values to unpack (expected 2)

In [ ]:
x, y, z, w = (1, 2, 3)

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
def school():
  return "ABC", "Address", "City", "Pincode"

print(school())

('ABC', 'Address', 'City', 'Pincode')

In [ ]:
name, address, city, pincode = school()

print(name, address, city, pincode)

ABC Address City Pincode

In [ ]:
def simple_interest(p, r, t):
  si = p * r * t / 100
  si_5 = 5 * si
  return si, si_5

print(simple_interest(1000, 8, 2))

(160.0, 800.0)

In [ ]:
students = [(1, "Prem", "Red"), (2, "Srinivas", "Green"), (3, "Shalini", "Blue")]
print(students)

[(1, 'Prem', 'Red'), (2, 'Srinivas', 'Green'), (3, 'Shalini', 'Blue')]

In [ ]:
for s in students:
  print(f"Roll No. = {s[0]} has name = {s[1]} whose favourite colour is {s[2]}")

Roll No. = 1 has name = Prem whose favourite colour is Red
Roll No. = 2 has name = Srinivas whose favourite colour is Green
Roll No. = 3 has name = Shalini whose favourite colour is Blue

In [ ]:
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y   # Concatenation

print(x)
print(y)
print(z)

print(len(z))

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)
6

In [ ]:
# Take two values (say a & b) as input. Swap the values of these two variables.

a = int(input())
b = int(input())

c = a
a = b
b = c

print(a, b)

10
62
62 10

In [ ]:
# Take two values (say a & b) as input. Swap the values of these two variables.

a = int(input())  # 5
b = int(input())  # 10

b = a + b         # 15
a = b - a         # 15 - 5 = 10
b = b - a         # 15 - 10 = 5

print(a, b)

5
10
10 5

In [ ]:
# Take two values (say a & b) as input. Swap the values of these two variables.

a = int(input())  # 5
b = int(input())  # 10

a, b = b, a

print(a, b)

10
45
45 10

In [ ]:
a = 5
b = 10
c = 20

a, b, c = b, c, a

print(a, b, c)

10 20 5

In [ ]:
# List -> []
# Tuple -> ()
# Set -> {}

s = {1, 2, 3, 4, 5, 5, 5, 5, 4, 4, 4, 7, 7, 7, 5}
print(s)

{1, 2, 3, 4, 5, 7}

In [ ]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [ ]:
s = {"Nexon", "Harrier", "I10", "I10", "Creta", "Verna", "Verna", "Verna", "Harrier", "I10"}

x = 1
for i in s:
  print(f"{x}. {i}")
  x += 1

1. Nexon
2. Creta
3. Harrier
4. Verna
5. I10

In [ ]:
t = tuple(s)
print(t)

('Nexon', 'Creta', 'Harrier', 'Verna', 'I10')

In [ ]:
s = {"Nexon", "Harrier", "I10", "I10", "Creta", "Verna", "Verna", "Verna", "Harrier", "I10"}

# Add any element in set
s.add("Audi Q3")
s.add("Audi Q3")

In [ ]:
print(s)

{'Nexon', 'Creta', 'Audi Q3', 'Harrier', 'Verna', 'I10'}

In [ ]:
# Removing element
s.remove("Creta")

In [ ]:
print(s)

{'Nexon', 'Audi Q3', 'Harrier', 'Verna', 'I10'}

In [ ]:
print(s.pop())
print(s)

Nexon
{'Audi Q3', 'Harrier', 'Verna', 'I10'}

In [ ]:
# Update the elements in the Set using a list/tuple of elements.

s.update(["Scorpio", "XUV700", "MG"])
print(s)

{'XUV700', 'Audi Q3', 'MG', 'Scorpio', 'Harrier', 'Verna', 'I10'}

In [ ]:
s.update(("Thar", "Fortuner"))
print(s)

{'XUV700', 'Audi Q3', 'MG', 'Scorpio', 'Thar', 'Fortuner', 'Harrier', 'Verna', 'I10'}

In [ ]:
s.remove("Ferrari")

KeyError: 'Ferrari'

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
fruits.update(["mango", "grape"])
print(len(fruits))

6

In [ ]:
s1 = {2, 3, 4, 5}
s2 = {1, 3, 4, 6, 8}

In [ ]:
s1.intersection(s2)

{3, 4}

In [ ]:
s1 & s2

{3, 4}

In [ ]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
s1 | s2

{1, 2, 3, 4, 5, 6, 8}

In [ ]:
s1.difference(s2)

{2, 5}

In [ ]:
s1 - s2

{2, 5}

In [ ]:
s1.symmetric_difference(s2)

{1, 2, 5, 6, 8}

In [ ]:
s1 ^ s2

{1, 2, 5, 6, 8}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = set1.symmetric_difference(set2)
print(set3)

{1, 2, 3, 6, 7, 8}

In [ ]:
# You are given a string as input. Ascertain whether that string contains a binary number or not.

# "0011010101ab" -> False
# "010010101010" -> True

def checkString(s):
  for ch in s:
    if(ch != '1' and ch != '0'):
      return False

  return True

print(checkString("0011010101ab"))

False

In [ ]:
print(checkString("010010101010"))

True

In [ ]:
def checkBinaryString(s):
  s = set(s)
  if s <= {'0', '1'}:
    return True
  return False

In [ ]:
print(checkBinaryString("0011010101ab"))

False

In [ ]:
print(checkBinaryString("0011010101"))

True

In [ ]:
print(checkBinaryString("0000"))

True

In [ ]:
print(checkBinaryString("00bbb000b0"))

False