In [ ]:
2+2

4

In [ ]:
# Given a list of all runs by Virat Kohli, create a new list of runs made in last 5 matches.
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

ans = []
for i in range(1, 6):
  ans.append(runs[-i])

print(ans)

[55, 81, 99, 122, 101]

In [ ]:
# Given a list of all runs by Virat Kohli, create a new list of runs made in odd matches (even indices).
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

ans = []
for i in range(0, len(runs), 2):
  ans.append(runs[i])

print(ans)

[62, 74, 12, 122, 81]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

print(runs[2])

74

In [ ]:
# Accessing a range of elements

runs[1 : 3]

[85, 74]

In [ ]:
runs[2 : 8]

[74, 10, 12, 101, 122, 99]

In [ ]:
runs[2 : ]

[74, 10, 12, 101, 122, 99, 81, 55]

In [ ]:
# Given a list of all runs by Virat Kohli, create a new list of runs made in last 5 matches.
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

print(runs[-5 : ])

[101, 122, 99, 81, 55]

In [ ]:
# Given a list of all runs by Virat Kohli, create a new list of runs made in first 5 matches.

print(runs[ : 5])

[62, 85, 74, 10, 12]

In [ ]:
print(runs[ : ])

[62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

print(runs[0 : 5 : 2])

[62, 74, 12]

In [ ]:
# Given a list of all runs by Virat Kohli, create a new list of runs made in odd matches (even indices).
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

print(runs[ : : 2])

[62, 74, 12, 122, 81]

In [ ]:
for i in range(9, 0, -2):
  print(i)

9
7
5
3
1

In [ ]:
# Last 5 matches in reverse order
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

start = len(runs) - 1 # 9
end = len(runs) - 6   # 4
jump = 1

print(runs[start : end : jump])

[]

In [ ]:
print(len(runs))

10

In [ ]:
for i in range(-1, -6, 1):
  print(i)

In [ ]:
for i in range(1, 6, -1):
  print(i)

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

print(runs[ : : -1])

[55, 81, 99, 122, 101, 12, 10, 74, 85, 62]

In [ ]:
print(runs[4: : -1])

[12, 10, 74, 85, 62]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]
 #       0   1   2   3   4   5     6   7   8   9
 #     -10  -9  -8  -7  -6  -5    -4   -3  -2  -1

In [ ]:
print(runs[ : 5 : 2])

[62, 74, 12]

In [ ]:
print(runs[5 : : 2])

[101, 99, 55]

In [ ]:
print(runs[ : -5 : -2])

[55, 99]

In [ ]:
print(runs[-4:-11: -2])

[122, 12, 74, 62]

In [ ]:
print(runs[-1 : -10])

# Default value of jump = 1

[]

In [ ]:
runs = [62, 85, 74, 10, 12, 101, 122, 99, 81, 55]

In [ ]:
# Write a program to reverse a list.
print(runs[::-1])

[55, 81, 99, 122, 101, 12, 10, 74, 85, 62]

In [ ]:
runs.reverse()

In [ ]:
print(runs)

[55, 81, 99, 122, 101, 12, 10, 74, 85, 62]

In [ ]:
A = [1, 2, 3, 4, 5]

print(A[ : : -1])

print(A)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
A = [1, 2, 3, 4, 5]

A.reverse()
print(A)

print(A)

[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

In [ ]:
A = [1, 2, 3, 4, 5]

B = A[::-1]

print(B)
print(A)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
A = [1, 2, 3, 4, 5]

B = list(reversed(A))

print(B)

print(A)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [ ]:
A = [1, 2, 3, 4, 5]
B = reversed(A)
C = list(B)

print(C)

[5, 4, 3, 2, 1]

In [ ]:
A = [1, 2, 3.45, 4, "Hello", [10, 20, 30]]

for i in range(len(A)):
  print(i, A[i])

0 1
1 2
2 3.45
3 4
4 Hello
5 [10, 20, 30]

In [ ]:
# 3 x 3 Matrix

a = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]

print(a[0])

[1, 2, 3]

In [ ]:
print(a[0][1])

2

In [ ]:
print(a[-1][-3])

7

In [ ]:
for row in a:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
for row in a:
  for element in row:
    print(element, end = " ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
rows = len(a)
for i in range(rows):
  print(a[i])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
a = [ [1, 2, 3], ["Hello", "Bye"], [1.0, 2.3, 4.56, 6.323]]

rows = len(a)
for i in range(rows):
  columns = len(a[i])
  for j in range(columns):
    print(a[i][j], end = " ")
  print()

1 2 3
Hello Bye
1.0 2.3 4.56 6.323

In [ ]:
a = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]
rows = len(a)
columns = len(a[0])

for i in range(rows):
  for j in range(columns):
    print(a[i][j], end = " ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
x = "Paly"
print(len(x))

4

In [ ]:
# Take a 3X3 matrix as an input from the user.

ans = []
for i in range(3):
  row = []
  for j in range(3):
    x = int(input())
    row.append(x)
  ans.append(row)

print(ans)

2
4
6
1
3
5
10
20
30
[[2, 4, 6], [1, 3, 5], [10, 20, 30]]

In [ ]:
# Print sum of elements for every row

a = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]

for row in a:
  s = 0

  for e in row:
    s += e

  print(s)

6
15
24

In [ ]:
a = [ [1, 2, 3], [4, 5, 6], [7, 8, 9] ]

for row in a:
  s = sum(row)
  print(s)

6
15
24

In [ ]:
# Given a list, rotate it by 1 element.

A = [1, 2, 3, 4, 5]
# ANS = [5, 1, 2, 3, 4]

last_element = A[-1]
B = A[0 : 4]

print(last_element)
print(B)

5
[1, 2, 3, 4]

In [ ]:
B.insert(0, last_element)

print(B)

[5, 1, 2, 3, 4]

In [ ]:
ans = []
ans.append(A[-1])
for i in range(0, len(A)-1):
  ans.append(A[i])

print(ans)

[5, 1, 2, 3, 4]

In [ ]:
A = [1, 2, 3, 4, 5]

A.insert(0, A.pop())

print(A)

[5, 1, 2, 3, 4]