#**Question-1**
* Take a string input from user and print that string character by character, with each character in new line.
```
Input:
"INDIA"
```
```
Output:
I
N
D
I
A
```

In [ ]:
a = input()
for i in a:
    print(i)

INDIA
I
N
D
I
A

---

#**Question-2**
* Take a string input from user.
* Print the following.

**Print format:**

```"First Character - <first_character>, Last Character - <last_character>```

In [ ]:
a = input()
print(f"First Character - {a[0]}, Last Character - {a[-1]}")

INDIA
First Character - I, Last Character - A

In [ ]:
s = "INDIA_IS_MY_COUNTRY"
# Strings are immutable, so we cannot reassign a value to a specific character.
s[0] = "R"

TypeError: 'str' object does not support item assignment

---

# **Question-3**
* Take a string input from user.
* Print the number of upper case characters in that string.

```
Input:
"This is a RANDOM strinG 67890, ^$#@"
```
```
Output:
8
```

In [ ]:
a = "This is a RANDOM strinG 67890, ^$#@"

In [ ]:
# 1
def count_upper_case(a):
    count = 0
    for i in a:
        if ord(i) >= 65 and ord(i) <= 90:
            count = count + 1
    return count

In [ ]:
count_upper_case(a)

8

In [ ]:
# 2
def count_upper_case_2(a):
    count = 0
    for i in a:
        if i.isupper():
            count = count + 1
    return count

In [ ]:
count_upper_case(a)

8

---

# **Question-4**
* You are given a list of numbers between 1 and 256.
* Generate a string from the char values of these numbers.
```
Input:
[65, 97, 68]
```
```
Output:
Aad
```
```
Explanation:
chr(65) - A
chr(97) - a
chr(68) - d
```

In [ ]:
a = [56, 8, 103, 157, 22, 22, 24, 10, 100]

In [ ]:
# 1
def generate_string(a):
    s = ""
    for i in a:
        s = s + chr(i)
    return s

In [ ]:
generate_string(a)

'8\x08g\x9d\x16\x16\x18\nd'

In [ ]:
 # 2
def generate_string_cool(a):
    result = []
    for i in a:
        result.append(chr(i))
    return "".join(result)

In [ ]:
generate_string_cool(a)

'8\x08g\x9d\x16\x16\x18\nd'

---

# **Question-5**
* Given a string of comma separated values.
* Convert it into a string of individual values.

```
Input:
"56,78,99,101"
```
```
Output:
[56, 78, 99, 101]
```

In [ ]:
a = "56,78,99,101"

In [ ]:
def easy_way(a):
    list_a = a.split(",")
    result = []
    for i in list_a:
        result.append(int(i))
    return result

In [ ]:
easy_way(a)

[56, 78, 99, 101]

* ```"".join()``` **-->** Input would be a list of string **-->** Output would be a string.
* ```"Random_String".split("_")``` **-->** Argument is the splitting characer **-->** Result would be a list.

---

# **Question-6**
* Take a string as input.
* Convert the string to lowercase without using any inbuilt function.

In [ ]:
def custom_lower(s):
    result = ""
    for i in s:
        if ord(i) >= 65 and ord(i) <= 90:
            order = ord(i)
            order = order + 32
            result = result + chr(order)
        else:
            result = result + i
    return result

In [ ]:
custom_lower("This is A stRIng")

'this is a string'

---

# **Question-7**
* Take a string as input.
* Replace all the space with underscore.

In [ ]:
string = "this is a random string"

In [ ]:
# 1
def change_to_underscore(s):
    result = ""
    for i in s:
        if i.isspace():
            result = result + "_"
        else:
            result = result + i
    return result

In [ ]:
change_to_underscore(string)

'this_is_a_random_string'

In [ ]:
# 2
string.replace(" ", "_")

'this_is_a_random_string'