In [ ]:
2+2

4

In [ ]:
city_wise_data = {
    "Delhi": 450,
    "Mumbai": 400,
    "Bengaluru": 325
}

In [ ]:
print(type(city_wise_data))

<class 'dict'>

In [ ]:
city_wise_data_tup = [("Delhi", 450), ("Mumbai", 400), ("Bengaluru", 325)]

In [ ]:
print(city_wise_data_tup[0])

('Delhi', 450)

In [ ]:
print(city_wise_data["Mumbai"])

400

In [ ]:
print(city_wise_data["Agra"])

KeyError: 'Agra'

In [ ]:
print(city_wise_data["Delhi"])

450

In [ ]:
city_wise_data["Delhi"] = 500

print(city_wise_data)

{'Delhi': 500, 'Mumbai': 400, 'Bengaluru': 325}

In [ ]:
city_wise_data.update(
    {
        "Agra" : 800,
        "Pune" : 330,
        "Bengaluru": 825
    }
)

print(city_wise_data)

{'Delhi': 500, 'Mumbai': 400, 'Bengaluru': 825, 'Agra': 800, 'Pune': 330}

In [ ]:
len(city_wise_data)

5

In [ ]:
print(city_wise_data.get("Delhi"))

500

In [ ]:
city_wise_data["Bihar"] = 1000

In [ ]:
print(city_wise_data)

{'Delhi': 500, 'Mumbai': 400, 'Bengaluru': 825, 'Agra': 800, 'Pune': 330, 'Bihar': 1000}

In [ ]:
city_wise_data.pop("Bihar")

print(city_wise_data)

{'Delhi': 500, 'Mumbai': 400, 'Bengaluru': 825, 'Agra': 800, 'Pune': 330}

In [ ]:
s = {1, 2, 3, 4, 5}

s.pop()
print(s)

{2, 3, 4, 5}

In [ ]:
city_wise_data.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
d = {
    1 : "A",
    2 : "B",
    3 : "C"
}

print(d)

{1: 'A', 2: 'B', 3: 'C'}

In [ ]:
print(d[0])

KeyError: 0

In [ ]:
print(d[1])

A

In [ ]:
d[0] = "Hello"
print(d)

{1: 'A', 2: 'B', 3: 'C', 0: 'Hello'}

In [ ]:
d.update(
    {
        1 : "Bye",
        2 : "Play",
        10 : "Happy"
    }
)
print(d)

{1: 'Bye', 2: 'Play', 3: 'C', 0: 'Hello', 10: 'Happy'}

In [ ]:
d.pop(10)
print(d)

{1: 'Bye', 2: 'Play', 3: 'C', 0: 'Hello'}

In [ ]:
d.pop(10)
print(d)

KeyError: 10

In [ ]:
print(d[10])

KeyError: 10

In [ ]:
print(d.get(10))

None

In [ ]:
d[3.0] = 3.0

print(d)

{1: 'Bye', 2: 'Play', 3: 3.0, 0: 'Hello'}

In [ ]:
print(3 == 3.0)

True

In [ ]:
city = {
    "mum":11,
    "mum":22,
    "delhi":33
}
print(city)

{'mum': 22, 'delhi': 33}

In [ ]:
dt = {
    1 : "A",
    "H" : 2,
    3 : 3
}
print(dt)

{1: 'A', 'H': 2, 3: 3}

In [ ]:
a = {'name': 'Thor Odinson',
     'age': 1500,
     'weapon': ['mjonir', 'stormbreaker'],
     'strongest': True}

print(a)

{'name': 'Thor Odinson', 'age': 1500, 'weapon': ['mjonir', 'stormbreaker'], 'strongest': True}

In [ ]:
for i in a:
  print(i)

name
age
weapon
strongest

In [ ]:
for i in a:
  print(a.get(i))

Thor Odinson
1500
['mjonir', 'stormbreaker']
True

In [ ]:
for i in a:
  print(f"{i} -> {a.get(i)}")

name -> Thor Odinson
age -> 1500
weapon -> ['mjonir', 'stormbreaker']
strongest -> True

In [ ]:
a.keys()

dict_keys(['name', 'age', 'weapon', 'strongest'])

In [ ]:
a.values()

dict_values(['Thor Odinson', 1500, ['mjonir', 'stormbreaker'], True])

In [ ]:
a.items()

dict_items([('name', 'Thor Odinson'), ('age', 1500), ('weapon', ['mjonir', 'stormbreaker']), ('strongest', True)])

In [ ]:
"name" in a.keys()

True

In [ ]:
"first_name" in a.keys()

False

In [ ]:
x = input()

if x in a.keys():
  print(a.get(x))
else:
  print(f"{x} is not present in a")

dob
dob is not present in a

In [ ]:
random = {
    "key1": [45, 56, 78],
    "key2": {
        "key3": (1, 2, 3)
    },
    45: "value3",
    56.78: "678",
    (1,2,3): "random value"
}

print(random)

{'key1': [45, 56, 78], 'key2': {'key3': (1, 2, 3)}, 45: 'value3', 56.78: '678', (1, 2, 3): 'random value'}

In [ ]:
random = {
    "key1": [45, 56, 78],
    "key2": {
        "key3": (1, 2, 3)
    },
    45: "value3",
    56.78: "678",
    [1,2,3]: "random value"
}

TypeError: unhashable type: 'list'

Values - Can store any data structure or any data type.


Keys - Lists, Sets and Dictionaries are not allowed.

In [ ]:
my_dict = {'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}
print(my_dict)

{'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}

In [ ]:
sorted_dict_keys = dict(sorted(my_dict.items()))
print("Sorted by keys:", sorted_dict_keys)

Sorted by keys: {'apple': 2, 'banana': 3, 'grape': 1, 'orange': 5}

In [ ]:
sorted_dict_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print("Sorted by values:", sorted_dict_values)

Sorted by values: {'grape': 1, 'apple': 2, 'banana': 3, 'orange': 5}

In [ ]:
# 1
my_dict.items()

dict_items([('banana', 3), ('apple', 2), ('orange', 5), ('grape', 1)])

In [ ]:
# sorted_dict_keys = dict(sorted(my_dict.items()))
# print("Sorted by keys:", sorted_dict_keys)

# 2
sorted(my_dict.items())

[('apple', 2), ('banana', 3), ('grape', 1), ('orange', 5)]

In [ ]:
# 3
dict(sorted(my_dict.items()))

{'apple': 2, 'banana': 3, 'grape': 1, 'orange': 5}

In [ ]:
# sorted_dict_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))

# 1
my_dict.items()

dict_items([('banana', 3), ('apple', 2), ('orange', 5), ('grape', 1)])

In [ ]:
# 2
sorted(my_dict.items(), key=lambda item: item[1])

[('grape', 1), ('apple', 2), ('banana', 3), ('orange', 5)]

In [ ]:
# 3
dict(sorted(my_dict.items(), key = lambda item: item[0], reverse = True))

{'orange': 5, 'grape': 1, 'banana': 3, 'apple': 2}

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
my_dict = {'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}
sorted_dict_keys = dict(sorted(my_dict.items()))

print(my_dict)
print("Sorted by keys:", sorted_dict_keys)

{'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}
Sorted by keys: {'apple': 2, 'banana': 3, 'grape': 1, 'orange': 5}

Take a string as input.


Create a dictionary according to the following criteria :-


There will be one key-value pair for each unique character.
Key will be the character name.
Value will be the count of the character inside the string.

In [ ]:
# I/P
# rrsssstttt

# O/P
# {
#    "r": 2,
#    "s": 3,
#    "t": 4
# }

str = input()
ans = {}
for ch in str:
  if ch in ans:
    ans[ch] += 1
  else:
    ans[ch] = 1

print(ans)

rrsssstttt
{'r': 2, 's': 4, 't': 4}

In [ ]:
str = input()
s = set(str)
ans = {}
for ch in s:
  ans[ch] = str.count(ch)

print(ans)

rrsssstttt
{'r': 2, 't': 4, 's': 4}