<a href="https://colab.research.google.com/github/nigowda/Beginner-Python-1-Utkarsh-Gupta/blob/main/01.Data%20Types%2C%20Variables%20and%20IO/Data_Types%2C_Variables_%26_I_O_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Date Types, Variables and I/O

---

## **Content**

1. Motivation behind programming languages
1. Getting Started with Python
1. Print Statement
1. Data Types
  1. Integer
  1. Float
  1. String
  1. Bool
  1. NoneType
1. `type()`
1. Variables
1. I/O - `input()`
  1. `int()`
  1. `str()`

---

## **Motivation behind programming languages -**

#### Can you talk to a computer in English?
- Computer only understands electric signal - '**High**' and '**Low**'.
- The language understood by computer is called binary language with **0/1** where '1' is high and '0' is low.

1. **Translator** - A computer program, is needed to convert human -understandable language to binary language.
2. **Human** - Understandable language is called 'High level language'.
  e.g. Python, Java, Javascript, Ruby, etc.
3. **Syntax** - Set of rules or grammar for writing a computer program.

---

## **Getting Started with Python**

1.   Python Insallation (https://www.python.org/downloads/)
2.   Editor (.py)
3.   CMD (execute)

Instead, let's use an **IDE**.

IDE - Integrated Development Environment

e.g.
- VS Code
- Pycharm
- Online IDE

Introducing online IDEs
- ide.view
- ide.codingminutes
- `Google Colab`

---

## **Print Statement**

In [ ]:
print(3000)

3000

In [ ]:
print(20+30) # python does basic arithmetic operations

50

**Note:**
```python
print(4 + 9) # spaces in the middle don't matter
```

In [ ]:
# everything inside " " is printed as it is
print("I love you all 3000!")

I love you all 3000!

In [ ]:
# will give an error without the quotes
print(I love you all 3000!)

SyntaxError: ignored

**Note:** Python is case sensitive.
* `Print` is invalid
* `print` is valid

---

### **Quiz-1**
**Question:  Predict the output of the following.**
```python
print(8-5)
```
    A. 8-5

    B. 3

    C. Error
**Ans**: 'B'

---

## **Data Types**

- The type of data that we are dealing with.
- e.g. **Text**, **Numbers**, **Decimals**, etc.

### **Int (Integers)**

- A data type that deals with **positive** or **negative** whole numbers.
- e.g. 1, -4, 8, 0, 323434242...
- Python has no upper limit on size.

### **Float (Decimals)**

- All real numbers that are not Integers.
- e.g. .3, 0.123, -2.4

#### **Question**: Is 9 and 9.0 same?
- In real sense they are same, but in python they are **different**.
- 9.0 is a float and 9 is an integer.

**Note:** '`.`' is not a decimal but '`0.`' is

---

### **Quiz-2**

**Question:** Which of the following values are of type float in Python?

a. ```0.3```

b. ```.2```

c. ```"2.3"```

d. ```1.0```

e. ```"3.14"```

f. ```-3```

g. ```5.```

**Options:**

A. a, b, c, d, e, f, g

B. a, b, g

C. a, b, d, g

D. a, b, c, d, e, g

**Ans**: C

---

### **Strings**

- Anything inside quotes is considered string.
- We can use either Double quotes (`" "`) or Single quotes (`' '`).
- We have to start and end with the same type of quote.

**Example**:
- `"Hello everyone"` - **valid**
- `'hello'` - **valid**
- `"hey everyone'` - **invalid**

### **Bool (boolean)**

- It has a `True` or `False` value.
- `True` is usualy 'high' and `False` is 'low'.
- We use boolean values when comparing.

In [ ]:
print(2 > 3)

False

### **None** Type

- Has only one value, `None`.
- Used to represent nothing or an empty value.

---

### **How do you check data type of a given object?**
Every value inside python is called an object.

**Ans:** Using the `type()` function

### ```type()```
 - It takes in an object and returns the data type of the object.

In [ ]:
type("Hello")

str

In [ ]:
type(45)

int

In [ ]:
type(67.8)

float

In [ ]:
type(True)

bool

In [ ]:
type(None)

NoneType

* IDE or a Python Shell might not print the result from `type()`.

* But **Jupyter** or **Colab** notebook prints the result of `type()` by default.

In [ ]:
print(type("hello"))

The result of `type()` function is passed to the `print()` function and the output is printed on the screen, in both IDE and Jupyter/Colab notebook.


<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/059/778/original/download_%283%29.png?1703074010">

---

## **Variables**

- Variables are nothing but containers to keep objects.
- A variable is an identifier / name given to an object.
- A variable in python refers to a reserved memory location.

In [ ]:
a = 3
print(a)

In [ ]:
b = 4
print(a + b)

7

- Python does not need specification about what data it stores.
- It automatically knows the type based on what it stores.

In [ ]:
type(a)

int

- In Python, the code is read from top to bottom.
- The value of a variables can be changed.

In [ ]:
x = 3
x = 5
print(x)

5

In [ ]:
x = "i am"
y = "legend !"
print(x)
print(y) # prints in seperate lines

i am
legend !

In [ ]:
print(x, y) # prints space seperated

i am legend !

---

## **Variable naming rules -**

A Python identifier can be a combination of lowercase/ uppercase letters, digits, or an underscore.

The following characters are valid:
  * Lowercase letters (a to z)
  * Uppercase letters (A to Z)
  * Digits (0 to 9)
  * Underscore (_)

**Example:**
* video_1
* myVar

**Note:**
- An identifier cannot begin with a digit.
- Example: `1video` is **invalid**.

In [ ]:
x=10
y = x
print(y)

10

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/059/779/original/download_%284%29.png?1703074200">

<img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/059/780/original/download_%285%29.png?1703074271">

---

### **Quiz-3**
**Question**: Which of the following is a valid variable name?

A. ```hELLO```

B. ```1_name_Input```

C. ```a*b*c```

D. ```Cod3$#```

**Ans**: 'A'

Why?
- 'B' invalid as it starts with number.
- 'C' invalid as it has '*'
- 'D' invalid as it has '$'

---

## **Taking Input**

The `input()` function takes in an input provided by the user.

In [ ]:
name = input()
name

Bipin

'Bipin'

In [ ]:
name = input()
print("hello name") # name is string

Bipin
hello name

In [ ]:
name = input()
print("hello", name) # name is variable

Bipin
hello Bipin

---

### **Quiz-4**
**Question**: Predict the output of the following.
```python
x = 3
y = 'hello'
num = y
y = 5
print(num, y)
```
A. 5 5

B. hello hello

C. hello 5

**Ans**: 'C'

---

## **Taking input as integer / string -**

### **Question**: **Write a program to take two numbers as input and add them.**

In [ ]:
x = input()
y = input()
print(x+y) # input taken as string

45
54
4554

- The `input()` functions takes input as a string.
- The `int()` function converts the input into an integer.

In [ ]:
x = input()
y = input()
int_x = int(x)
int_y = int(y)
print(type(int_x))
print(type(int_y))

45
54
<class 'int'>
<class 'int'>

In [ ]:
x = "I am a string"
int(x) # error, this string cannot be converted to integer

ValueError: ignored

-   The `str()` function converts an input into a string.

In [ ]:
x = 345
str(x)

'345'

---