In [ ]:
2+2

4

In [ ]:
def prepare_for_guests(): # Defining a function

  # Body of the function
  print("Dust all the rooms")
  print("Arrange the living area")
  print("Go and get drinks & snacks!")
  print("Don't misbehave in front of the guests!")
  print("Touch their feet when you greet them!")

In [ ]:
prepare_for_guests() # Calling / Invoking the function

Dust all the rooms
Arrange the living area
Go and get drinks & snacks!
Don't misbehave in front of the guests!
Touch their feet when you greet them!

In [ ]:
prepare_for_guests() # Calling / Invoking the function

Dust all the rooms
Arrange the living area
Go and get drinks & snacks!
Don't misbehave in front of the guests!
Touch their feet when you greet them!

In [ ]:
prepare_for_guests() # Calling / Invoking the function

Dust all the rooms
Arrange the living area
Go and get drinks & snacks!
Don't misbehave in front of the guests!
Touch their feet when you greet them!

In [ ]:
def make_tea():
    print("I am making tea")

In [ ]:
make_tea() # call

I am making tea

In [ ]:
for i in range(5):
    make_tea()

I am making tea
I am making tea
I am making tea
I am making tea
I am making tea

In [ ]:
def make_tea():
  for i in range(5):
    print("I am making tea")

make_tea()

I am making tea
I am making tea
I am making tea
I am making tea
I am making tea

In [ ]:
# Functions can accpet arguments or parameters

def sheldon_knock(name):
    print("knock knock ", name)

In [ ]:
sheldon_knock("Shivani")

knock knock  Shivani

In [ ]:
sheldon_knock(True)

knock knock  True

In [ ]:
def introduce_family(father, mother, sibling):
    print("Father:", father)
    print("Mother:", mother)
    print("Sibling:", sibling)

In [ ]:
introduce_family("Srinivas", "Shivani", "Pratik")

Father: Srinivas
Mother: Shivani
Sibling: Pratik

In [ ]:
introduce_family("Srinivas", "Shivani")

TypeError: introduce_family() missing 1 required positional argument: 'sibling'

In [ ]:
introduce_family("Srinivas", "Shivani", "A", "B")

TypeError: introduce_family() takes 3 positional arguments but 4 were given

In [ ]:
def func(n):
  for i in range(n):
    print("hello")

In [ ]:
func("Hello")

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
func(3.0)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
def print_money(amount):
    print(2 * amount)

In [ ]:
print_money(1000)

2000

In [ ]:
def return_money(amount):
    return 2 * amount

In [ ]:
# store money in variable
result_money = return_money(1000)
result_money %= 5
print(result_money)

0

In [ ]:
# store money in variable
result_money = print_money(1000)
result_money %= 5
print(result_money)

2000

TypeError: unsupported operand type(s) for %=: 'NoneType' and 'int'

In [ ]:
type(return_money(100))

int

In [ ]:
type(print_money(100))

200

NoneType

In [ ]:
def prepare_for_guests(): # Defining a function

  # Body of the function
  print("Dust all the rooms")
  print("Arrange the living area")
  print("Go and get drinks & snacks!")
  print("Don't misbehave in front of the guests!")
  print("Touch their feet when you greet them!")

In [ ]:
x = prepare_for_guests()

Dust all the rooms
Arrange the living area
Go and get drinks & snacks!
Don't misbehave in front of the guests!
Touch their feet when you greet them!

In [ ]:
type(x)

NoneType

In [ ]:
def do_something(n):  # n = 6
  total = 0
  i = 1
  while i <= n:   # i = 7
    total += i    # total = 0 + 1 + 2 + 3 + 4 + 5 + 6 = 21
    i += 1
  return total

print(do_something(6))

21

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of google.colab._kernel.Kernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [ ]:
help(do_something)

Help on function do_something in module __main__:

do_something(n)

In [ ]:
help(prepare_for_guests)

Help on function prepare_for_guests in module __main__:

prepare_for_guests()

In [ ]:
def do_something(n):  # n = 6
  ''' Sum of N natural numbers. '''
  total = 0
  i = 1
  while i <= n:   # i = 7
    total += i    # total = 0 + 1 + 2 + 3 + 4 + 5 + 6 = 21
    i += 1
  return total

In [ ]:
help(do_something)

Help on function do_something in module __main__:

do_something(n)
    Sum of N natural numbers.

In [ ]:
def prepare_for_guests(): # Defining a function
  ''' List of steps that we should follow whenever there is a guest coming. '''
  # Body of the function
  print("Dust all the rooms")
  print("Arrange the living area")
  print("Go and get drinks & snacks!")
  print("Don't misbehave in front of the guests!")
  print("Touch their feet when you greet them!")

In [ ]:
help(prepare_for_guests)

Help on function prepare_for_guests in module __main__:

prepare_for_guests()
    List of steps that we should follow whenever there is a guest coming.

In [ ]:
def introduce_family(mother, father, sibling):
    print("Father:", father)
    print("Mother:", mother)
    print("Sibling:", sibling)

In [ ]:
introduce_family(father="Srinivas", mother="Shivani", "Pratik")

SyntaxError: positional argument follows keyword argument (<ipython-input-47-3f98997f6c14>, line 1)

In [ ]:
introduce_family("Srinivas", mother="Shivani", sibling="Pratik")

TypeError: introduce_family() got multiple values for argument 'mother'

In [ ]:
introduce_family("Srinivas", "Shivani", sibling="Pratik")

Father: Srinivas
Mother: Shivani
Sibling: Pratik

In [ ]:
def simple_interest(p, t=3, r=5):
  interest = (p * r * t) / 100
  return interest

In [ ]:
simple_interest(2, 5, r = 3.0)

0.3

In [ ]:
simple_interest(2, 5, 7)

0.7

In [ ]:
x = 7

In [ ]:
x

7

In [ ]:
def multiply(num1=3, num2):
  return num1 * num2

print(multiply(2, 4))

SyntaxError: non-default argument follows default argument (<ipython-input-64-49eb9889cec6>, line 1)

In [ ]:
def sum_of_three(x, y=3, z=4):  # 1, 3, 4
  s = x + y + z
  return s

In [ ]:
sum_of_three(1, 2)

7

In [ ]:
sum_of_three(1)

8

In [ ]:
def sum_of_three(x, y=3):
  s = x + y
  return s

In [ ]:
a = 10  # Global Variable

def random():
  a = 50  # Local Variable
  print("Inside =", a)

print("Before =", a)
random()
print("After =", a)

Before = 10
Inside = 50
After = 10

In [ ]:
a = 10  # Global Variable

def random():
  global a
  a = 50  # Global Variable
  print("Inside =", a)

print("Before =", a)
random()
print("After =", a)

Before = 10
Inside = 50
After = 50

In [ ]:
def function(var):
  print(var)

function(3)

var = 5
function(var)

3
5

In [ ]:
# function_name = lambda arguments: expression

def random(x):
    return x + 10

# random = lambda x: x + 10

In [ ]:
random(5)

15

In [ ]:
random = lambda x: x + 20

In [ ]:
random(5)

25

In [ ]:
(lambda x: x + 20)(5)

25

In [ ]:
(lambda : print("Hello Scaler"))("Scaler")

TypeError: <lambda>() takes 0 positional arguments but 1 was given

In [ ]:
(lambda : return x + y)

SyntaxError: invalid syntax (<ipython-input-102-d614f7f37fd4>, line 1)

In [ ]:
(lambda x: print("Hello Scaler"))("Scaler")

Hello Scaler

In [ ]:
(lambda x, y: x + y)(2, 3)

5

In [ ]:
sum2 = lambda : x+y

In [ ]:
x = 2
y = 3


def sum2():
  return x+y

In [ ]:
sum2()

5

In [ ]:
(lambda x: print("hello", x))(15)

hello 15

In [ ]:
def prod(x, y):
  return x * y