In [ ]:
1+1

2

In [ ]:
# Print numbers from 1 to 5

n = 1
last = int(input())
while n <= last:
  print(n)
  n = n+1

7
1
2
3
4
5
6
7

In [ ]:
# Print all even numbers from 1 to N (user input)

i = 2
N = int(input())
while i <= N:
  print(i)
  i = i+2

9
2
4
6
8

In [ ]:
# Print all odd numbers from 1 to N (user input)

i = 1
N = int(input())
while i <= N:
  print(i)
  i = i+2   # 1, 3, 5...

10
1
3
5
7
9

In [ ]:
# Print even numbers 1 to N followed by odd numbers 1 to N (user input)

N = int(input())
x = 2
while x <= N:
  print(x)
  x = x + 2

x = 1
while x <= N:
  print(x)
  x = x + 2

7
2
4
6
1
3
5
7

In [ ]:
# Print all odd numbers (1, 3, 5, ...) from L to R where L & R are user defined.

L = int(input())
R = int(input())

cnt = 0
x = L
while x <= R:
  cnt += 1
  if (x % 2 == 1):
    print(x)
  x = x + 1
print("Number of times while loop is running = ", cnt)

25
35
25
27
29
31
33
35
Number of times while loop is running =  11

In [ ]:
L = int(input())
R = int(input())

if L % 2 == 1:
  x = L
else:
  x = L+1

cnt = 0
while x <= R:
  cnt += 1
  print(x)
  x = x + 2
print("Number of times while loop is running = ", cnt)

25
35
25
27
29
31
33
35
Number of times while loop is running =  6

In [ ]:
x = 1
while x <= 100:
    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz")
    elif x % 3 == 0:
        print("Fizz")
    elif x % 5 == 0:
        print("Buzz")
    else:
        print(x)
    x += 1

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
x = 1
N = int(input())
while x <= N:
  print(x)
  x = x+1

5
1
2
3
4
5

In [ ]:
# Print 1 to N in a single line i.e. 1 2 3 4 5

x = 1
N = int(input())
while x <= N:
  print(x, end = " ")
  x = x+1

5
1 2 3 4 5

In [ ]:
# Print 1 to N in a single line i.e. 1, 2, 3, 4, 5,

x = 1
N = int(input())
while x < N:
  print(x, end = ", ")
  x = x+1
print(N)

5
1, 2, 3, 4, 5

In [ ]:
print(1, 2, 3, 4, 5, 6, 7, 8, 9)

1 2 3 4 5 6 7 8 9

In [ ]:
print(1, 2, 3, 4, 5, 6, 7, 8, 9, sep = "#")

1#2#3#4#5#6#7#8#9

In [ ]:
print(1, 2, 3, 4, 5, 6, 7, 8, 9, sep = " hello ")

1 hello 2 hello 3 hello 4 hello 5 hello 6 hello 7 hello 8 hello 9

In [ ]:
x = 1
while x <= 5:
  print(x)
  x = x+1

1
2
3
4
5

In [ ]:
print(1, 2, 3, sep = "$")                     # 1$2$3 <move to next line>
print(4, 5, 6, sep = " yo! ", end = "\t")     # 4 yo! 5 yo! 6 <tab space>
print(7, 8, 9, sep = "wow", end = " amazing\n") # 7wow8wow9 <print " amazing">
print(10, 11, 12, end = "@@123")                # 10 11 12 <print123>

1$2$3
4 yo! 5 yo! 6	7wow8wow9 amazing
10 11 12@@123

In [ ]:
print(list(range(1, 5)))

[1, 2, 3, 4]

In [ ]:
print(list(range(10, 15)))

[10, 11, 12, 13, 14]

In [ ]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(-2, 2)))

[-2, -1, 0, 1]

In [ ]:
print(list(range(1, 10, 3)))

[1, 4, 7]

In [ ]:
print(list(range(5,-10,-2)))
# 5, 3, 1...

[5, 3, 1, -1, -3, -5, -7, -9]

In [ ]:
print(list(range(5,-10,2)))

# jump = +ve ==> range goes left to right (increasing)
# jump = -ve ==> range goes right to left (decreasing)

[]

In [ ]:
print(list(range(8, 8)))

[]

In [ ]:
for i in range(1, 10, 3):
  print(i)

1
4
7

In [ ]:
# Calculate sum of all numbers starting from 1 to N using a for loop
N = int(input())
sum = 0
for x in range(1, N+1): # 1, 2, 3, 4, ... N
  sum += x

print(sum)

5
15

In [ ]:
# Print all numbers from an input N to 1, where N > 1.
# N = 3
# o/p = 3 2 1

N = int(input())
for i in range(N, 0, -1):
  print(i, end = " ")

3
3 2 1

In [ ]:
N = int(input())
for i in range(-N, 0):
  print(-i, end = " ")

5
5 4 3 2 1

In [ ]:
print(list(range(1, 11, 2)))

[1, 3, 5, 7, 9]

In [ ]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Given an integer input N, print all multiples of 4 less than or equal to N.
# Use for loop

N = int(input())
cnt = 0

for i in range(1, N+1):
  cnt += 1
  if (i%4 == 0):
    print(i)

print("Number of iterations =", cnt)

20
4
8
12
16
20
 Number of iterations = 20

In [ ]:
N = int(input())
cnt = 0
for i in range(4, N+1, 4):  # 4, 8, 12, 16, 20
  cnt += 1
  print(i)
print("Number of iterations =", cnt)

20
4
8
12
16
20
Number of iterations = 5