<a href="https://colab.research.google.com/github/nigowda/Beginner-Python-1-Utkarsh-Gupta/blob/main/11.Dictionaries/Dictionaries_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

---

## **Content**

1. Motivation behind Dictionaries
2. Creating a Dictionary
3. Properties of Dictionaries
4. Iterating over Dictionaries
5. Sorting a Dictionary

---

### **Quiz-1**

What will be the output of the following?
```
s = {{1,2,3,4,5}}
print(s)
```

Options:
```
A. {1,2,3,4,5}
B. {{1,2,3,4,5}}
C. {1}
D. Error
```

* The correct answer is **Error**
* Nested sets are not allowed in Python.

---

### **Quiz-2**
What will be the output of the following?
```
t = [[1,2], [3,4], (5,6)]
a, b = t[1]
```
Options:
```
A. a = 3 and b = 4
B. a = 5 and b = 6
C. a = [3,4] and b = (5,6)
D. None of the above
```
* The correct answer is **Option A**.

---

### **Motivation behind dictionaries - What do dictionaries signify in languages?**

* Dictionaries in languages can be used to store meaning of different words.

![Screenshot 2022-12-07 095859.png]()

* Python uses a syntax which is like a **key-value pair** with curly braces ```{ }``` around the elements.

### **Creating dictionaries in Python**

* Curly Braces `{ }` around the values,.
* Each value has two components - a **key** and a **value**.

In [ ]:
a = {
    "random": "something which is not well defined",
    "bizzare": "something which is unusual"
}

In [ ]:
print(type(a))

<class 'dict'>

### **Why dictionaries?**

* Let's say you want to store the population of certain cities.
* You can do something like this -

In [ ]:
city_wise_data = {
    "Delhi": 450,
    "Mumbai": 400,
    "Bengaluru": 325
}

* But why not just use nested tuples?

In [ ]:
city_wise_data_tup = [("Delhi", 450), ("Mumbai", 400), ("Bengaluru", 325)]

* To access a list, we have to use indexing.
* For that, we need to remember the order in which we kept all the elements.

In [ ]:
city_wise_data_tup[1]

('Mumbai', 400)

* Dictionaries are **not ordered** or **subscriptable**.
* You access a value directly by using its **key**.

In [ ]:
city_wise_data["Bengaluru"]

325

---

### **Updating a dictionary**

In [ ]:
a = {
    "Delhi": 450,
    "Mumbai": 400,
    "Bengaluru": 325
}

In [ ]:
a["Delhi"] = 500

# The value is updated
a

{'Delhi': 500, 'Mumbai': 400, 'Bengaluru': 325}

In [ ]:
a["New Delhi"] = 350

# Creates a new key
a

{'Delhi': 500, 'Mumbai': 400, 'Bengaluru': 325, 'New Delhi': 350}

#### We can also use the ```.update()``` method to update the values of a dictionary.

In [ ]:
avenger = {
    "name": "Thor",
    "age": 1500,
    "weapon": "mjolnir"
}

In [ ]:
# Old keys will be updated
# New keys will be added

avenger.update(
    {"name": "Thor Odinson",
     "weapon": ["mjonir", "stormbreaker"],
     "strongest": True}
)

In [ ]:
avenger

{'name': 'Thor Odinson',
 'age': 1500,
 'weapon': ['mjonir', 'stormbreaker'],
 'strongest': True}

### **Another way of accessing values of a dictionary**

In [ ]:
random = {
    "a": 1,
    "b": 2,
    "c": 3
}

In [ ]:
result = random.get("a")
print(result)

1

In [ ]:
random["d"]

KeyError: 'd'

In [ ]:
result = random.get("d")
print(result)

None

### **How do we remove a key?**

In [ ]:
random = {
    "a": 1,
    "b": 2,
    "c": 3
}

In [ ]:
random.pop("b")

2

In [ ]:
random

{'a': 1, 'c': 3}

#### We need at least 1 argument when using ```.pop()``` on Dictionaries.

In [ ]:
random.pop() # TypeError

TypeError: pop expected at least 1 argument, got 0

---

## **Iterating over dictionaries**

In [ ]:
a = {'name': 'Thor Odinson',
    'age': 1500,
    'weapon': ['mjonir', 'stormbreaker'],
    'strongest': True}

* The iterable gets all the keys as values.

In [ ]:
for i in a:
    print(i)

name
age
weapon
strongest

* To get the values we can do something as follows:

In [ ]:
for i in a:
    print(a[i])

Thor Odinson
1500
['mjonir', 'stormbreaker']
True

In [ ]:
for i in a:
    print(f"{i} -> {a[i]}")

name -> Thor Odinson
age -> 1500
weapon -> ['mjonir', 'stormbreaker']
strongest -> True

---

#### The ```.keys()``` method can be used to get a list of all the keys in a dictionary.

In [ ]:
a.keys()

dict_keys(['name', 'age', 'weapon', 'strongest'])

#### The ```.values()``` method can be used to get a list of all the values in a dictionary.

In [ ]:
a.values()

dict_values(['Thor Odinson', 1500, ['mjonir', 'stormbreaker'], True])

#### The ```.items()``` method can be used to get a list of all the key-value pairs in a dictionary.

In [ ]:
a.items()

dict_items([('name', 'Thor Odinson'), ('age', 1500), ('weapon', ['mjonir', 'stormbreaker']), ('strongest', True)])

In [ ]:
for key, value in a.items():
    print(f"{key} -> {value}")

name -> Thor Odinson
age -> 1500
weapon -> ['mjonir', 'stormbreaker']
strongest -> True

---

### **How do we check if a key exists within a dictionary?**

* We can simply use the ```in``` membership operator to achieve this.

In [ ]:
"strongest" in a.keys()

True

In [ ]:
"asdasd" in a.keys()

False

### **Can we have object of any datatype as a key in a dictionary?**

* While discussing sets, we talked about how we cannot have **sets**, **dictionaries** and **lists** as elements of sets because they are **mutable**.

* This is the exact same case with dictionaries.
  * **Values** - Can store any data structure or any data type.
  * **Keys** - Lists, Sets and Dictionaries are not allowed.

In [ ]:
# Allowed
random = {
    "key1": [45, 56, 78],
    "key2": {
        "key3": (1, 2, 3)
    },
    45: "value3",
    56.78: "678",
    (1,2,3): "random value"
}

In [ ]:
# Not allowed
random = {
    "key1": [45, 56, 78],
    "key2": {
        "key3": (1, 2, 3)
    },
    45: "value3",
    56.78: "678",
    [1,2,3]: "random value"
}

TypeError: unhashable type: 'list'

---

### **How to sort a dictionary?**

In [ ]:
my_dict = {'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}
print(my_dict)

{'banana': 3, 'apple': 2, 'orange': 5, 'grape': 1}

#### Sort the dictionary by keys -

In [ ]:
sorted_dict_keys = dict(sorted(my_dict.items()))
print("Sorted by keys:", sorted_dict_keys)

Sorted by keys: {'apple': 2, 'banana': 3, 'grape': 1, 'orange': 5}

**Explanation:**

* `my_dict.items()`: It returns a list of tuples, where each tuple contains a key-value pair from the dictionary `my_dict`.
  * For the given example, it would be `[('banana', 3), ('apple', 2), ('orange', 5), ('grape', 1)]`.

* `sorted()`: It sorts the list of tuples obtained from `my_dict.items()`.
  * By default, it sorts based on the keys of the dictionary.
  * Since the keys are strings, they will be sorted alphabetically.

* `dict()`: It creates a new dictionary from the sorted list of tuples.
  * So, when we run the code, `sorted_dict_keys` will be `{'apple': 2, 'banana': 3, 'grape': 1, 'orange': 5}`

#### Sort the dictionary by values -

In [ ]:
sorted_dict_values = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print("Sorted by values:", sorted_dict_values)

Sorted by values: {'grape': 1, 'apple': 2, 'banana': 3, 'orange': 5}

**Explanation:**

* `my_dict.items()`: It returns a list of tuples, where each tuple contains a key-value pair from the dictionary `my_dict`.
  * For the given example, it would be `[('banana', 3), ('apple', 2), ('orange', 5), ('grape', 1)]`.

* `sorted()`: It sorts the list of tuples obtained from `my_dict.items()` based on a custom key.
  * In this case, the custom key is a lambda function: `lambda item: item[1]`.
  * This lambda function extracts the **second element (index 1)** from each tuple i.e. the values of the dictionary.

* `dict()`: It creates a new dictionary from the sorted list of tuples.
  * So, when we run the code, `sorted_dict_values` will be `{'grape': 1, 'apple': 2, 'banana': 3, 'orange': 5}`

---

## **Question**

* Take a string as input.
* Create a dictionary according to the following criteria :-
    * There will be one key-value pair for each unique character.
    * Key will be the character name.
    * Value will be the count of the character inside the string.

**Example Input:**
```
rrsssstttt
```

**Example Output:**
```
{
    "r": 2,
    "s": 3,
    "t": 4
}
```

In [ ]:
string = "this is a random string with various characters"

In [ ]:
result = {}
for i in set(string):
    result[i] = string.count(i)
result

{'c': 2,
 'g': 1,
 ' ': 7,
 'w': 1,
 'r': 5,
 'n': 2,
 't': 4,
 'o': 2,
 'e': 1,
 'i': 5,
 'a': 5,
 's': 5,
 'm': 1,
 'd': 1,
 'h': 3,
 'v': 1,
 'u': 1}

---